appdirs==1.4.4
certifi==2022.12.7
click==7.1.2
decorator==5.1.1
deepmerge==1.1.0
Flask==1.1.4
Flask-JWT-Extended==3.25.0
Flask-MySQLdb==1.0.1
hupper==1.11
importlib-metadata==6.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
mysqlclient==2.1.1
Pillow==9.5.0
pkg-resources==0.0.0
pyee==8.2.2
PyJWT==1.7.1
pyppeteer==1.0.2
six==1.16.0
tqdm==4.65.0
typing-extensions==4.4.0
urllib3==1.26.15
validators==0.20.0
waitress==2.1.2
websockets==10.4
Werkzeug==2.3.8
zipp==3.11.0
